.button-container{
    text-align: center;
    padding: 50px;
}
@media only screen and (max-width : 480px) {
    .button-container{
        padding: 20px;
    }   
}
.download-button {
    display: inline-block;
    padding: 10px 40px;
    font-size: 24px;
    color: white;
    background: linear-gradient(160deg,#aa7ecd, #107896);
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    cursor: pointer;
}
.download-button:hover, .download-button:focus, .download-button:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    outline: none;
}
.download-button:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.download-button:hover:before, .download-button:focus:before, .download-button:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}