*{
  font-family: sans-serif;
};
// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower
@import "./rocket.scss";
@import "./download.scss";
body{
  background: whitesmoke;
}
.fontly{
  font-family: 'Orbitron', sans-serif;
}
.header{
  height: 660px;
}
.footer{
  padding: 30px;
  text-align: center;
}
.main-title{
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3em;
  text-align: center;
}
@media only screen and (max-width : 480px) {
  .main-title{
    font-size: 30px;
    font-weight: 500;
    line-height: 1em;
  }
}
.platform{
  content: "";
    width: 100%;
    height: 660px;
    z-index: -1000;
    background: linear-gradient(160deg,#aa7ecd, #107896);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: skew(0deg,-15deg);
    transform: skew(0deg,-15deg);
}
.console-panel{
  width: 50%;
  height: 400px;
  position: absolute;
  top: 180px; // 330 - 150
  left: calc(50% - 200px);
  background: black;
  color: white;
  border-radius: .375rem;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.4);
  p {
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    padding: 160px 0px;
    line-height: 80px;
  }
}

@media only screen and (max-width : 992px) {
  .header {
    height: 450px;
  }
  .platform {
    height: 330px;
  }
  .console-panel{
    height: 200px;
    left: initial;
    p {
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      padding: 85px 0px;
      line-height: 40px;
    }
  }
}
@media only screen and (max-width : 480px) {
  .console-panel{
    p {
      font-size: 20px;
      padding: 90px 0px;
      line-height: 40px;
    }
  }
}
.demo{
  padding: 50px 50px 0;
  .console{
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    color: black;
    background-color:white;
    border: 5px solid #ccc;
    width: 100%;
  } 
}
.docs{
  padding: 0 50px;
  .docs__body{
    background: white;
    padding: 50px;
    word-break: break-all;
  }
  .docs__title{
    color: #e5853d;
    font-size: 18px;
    font-family: sans-serif;
  }
  .docs__text{
    color: #107896;
    font-size: 15px;
    font-family: sans-serif;
    margin: 5px 0px 20px 25px;
  }
}
@media only screen and (max-width : 480px) {
  .demo{
    padding: 10px;
  }
  .docs{
  padding: 10px;
  .docs__body{
    padding: 10px;
  }
}
}
.nav {
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  ul {
    list-style: none;
    text-align: center;
    overflow: hidden;
    padding: 0;
    
    li {
      display: inline-block;
      margin: 0 -4px;
      padding: 5px 0;
    
      a {
        padding: 5px 20px;
        font: 15px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Orbitron', sans-serif;
        
        &:hover,
        &.active {
          color: black;
        }
      }
    }
  }
}