*{
  font-family: sans-serif;
};
// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower
@import "./rocket.scss";
@import "./download.scss";
@import "./console.scss";
body{
  background: whitesmoke;
}
*{
  font-family: 'Fira Sans', sans-serif;
}
.hray{
  margin: 7px;
}
.header{
  height: 660px;
}
.footer{
  padding: 0 30px 10px;
  text-align: center;
}
.main-title{
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3em;
  text-align: center;
}
@media only screen and (max-width : 480px) {
  .main-title{
    font-size: 30px;
    font-weight: 500;
    line-height: 1em;
  }
}
.platform{
  content: "";
    width: 100%;
    height: 660px;
    z-index: -1000;
    background: linear-gradient(160deg,#aa7ecd, #107896);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: skew(0deg,-15deg);
    transform: skew(0deg,-15deg);
}
.console-panel{
  width: 50%;
  height: 400px;
  position: absolute;
  top: 180px; // 330 - 150
  left: calc(50% - 200px);
  background: black;
  color: white;
  border-radius: .375rem;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.4);
  p {
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    padding: 160px 0px;
    font-family: 'Orbitron', sans-serif;
    line-height: 80px;
  }
}

@media only screen and (max-width : 992px) {
  .header {
    height: 450px;
  }
  .platform {
    height: 330px;
  }
  .console-panel{
    height: 200px;
    left: initial;
    p {
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      padding: 85px 0px;
      line-height: 40px;
    }
  }
}
@media only screen and (max-width : 480px) {
  .console-panel{
    p {
      font-size: 20px;
      padding: 90px 0px;
      line-height: 40px;
    }
  }
}
.docs{
  padding: 0 50px;
  .docs__body{
    background: white;
    padding: 50px;
    word-break: break-all;
  }
  .docs__heading{
    padding-bottom: 40px;
  }
  .docs__title{
    color: #e5853d;
    font-size: 18px;
  }
  .docs__text{
    color: #107896;
    font-size: 15px;
    margin: 5px 0px 20px 25px;
  }
  .docs__image{
    padding-bottom: 30px;
    img{
      width: 100%;
      width: calc(100% + 6px);
      margin-bottom: -6px;
    }
    .docs__console{
      overflow-x: scroll;
      border: 2px solid #C0C0C0;
      margin-left: 3px;
      padding: 30px 10px 10px;
      height: 400px;
      color: black;
      background-color:white;
      width: 100%;
      font-size: 11px !important;
      font-family: Menlo, monospace;
      white-space: nowrap;
    } 
  }
}
@media only screen and (max-width : 480px) {
  .demo{
    padding: 10px;
  }
  .docs{
  padding: 10px;
  .docs__body{
    padding: 10px;
  }
}
}
.nav {
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  ul {
    list-style: none;
    text-align: center;
    overflow: hidden;
    padding: 0;
    
    li {
      display: inline-block;
      margin: 0 -4px;
      padding: 5px 0;
    
      a {
        padding: 5px 20px;
        font-size: 20px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        &:hover,
        &.active {
          color: black;
        }
      }
    }
  }
}
.rainbow{
  font-size: 40px;
  text-shadow:rgb(255, 0, 0) -1px -1px, rgb(255, 21, 0) 1px 1px, rgb(255, 42, 0) 3px 2px, rgb(255, 68, 0) 5px 3px, rgb(255, 89, 0) 7px 4px, rgb(255, 115, 0) 9px 5px, rgb(255, 136, 0) 11px 6px, rgb(255, 157, 0) 13px 7px, rgb(255, 183, 0) 14px 8px, rgb(255, 204, 0) 16px 9px, rgb(255, 230, 0) 18px 10px, rgb(255, 251, 0) 20px 11px, rgb(238, 255, 0) 22px 12px, rgb(213, 255, 0) 23px 13px, rgb(191, 255, 0) 25px 14px, rgb(166, 255, 0) 27px 15px, rgb(145, 255, 0) 28px 16px, rgb(123, 255, 0) 30px 17px, rgb(98, 255, 0) 32px 18px, rgb(76, 255, 0) 33px 19px, rgb(51, 255, 0) 35px 20px, rgb(29, 255, 0) 36px 21px, rgb(8, 255, 0) 38px 22px, rgb(0, 255, 17) 39px 23px, rgb(0, 255, 38) 41px 24px, rgb(0, 255, 64) 42px 25px, rgb(0, 255, 85) 43px 26px, rgb(0, 255, 106) 45px 27px, rgb(0, 255, 132) 46px 28px, rgb(0, 255, 153) 47px 29px, rgb(0, 255, 179) 48px 30px, rgb(0, 255, 200) 49px 31px, rgb(0, 255, 221) 50px 32px, rgb(0, 255, 247) 51px 33px, rgb(0, 243, 255) 52px 34px, rgb(0, 217, 255) 53px 35px, rgb(0, 196, 255) 54px 36px, rgb(0, 174, 255) 55px 37px, rgb(0, 149, 255) 55px 38px, rgb(0, 127, 255) 56px 39px, rgb(0, 102, 255) 57px 40px, rgb(0, 81, 255) 57px 41px, rgb(0, 59, 255) 58px 42px, rgb(0, 34, 255) 58px 43px, rgb(0, 12, 255) 58px 44px, rgb(12, 0, 255) 59px 45px, rgb(34, 0, 255) 59px 46px, rgb(55, 0, 255) 59px 47px, rgb(81, 0, 255) 59px 48px, rgb(102, 0, 255) 59px 49px, rgb(127, 0, 255) 60px 50px, rgb(149, 0, 255) 59px 51px, rgb(170, 0, 255) 59px 52px, rgb(196, 0, 255) 59px 53px, rgb(217, 0, 255) 59px 54px, rgb(243, 0, 255) 59px 55px, rgb(255, 0, 247) 58px 56px, rgb(255, 0, 226) 58px 57px, rgb(255, 0, 200) 58px 58px, rgb(255, 0, 179) 57px 59px, rgb(255, 0, 153) 57px 60px, rgb(255, 0, 132) 56px 61px, rgb(255, 0, 110) 55px 62px, rgb(255, 0, 85) 55px 63px, rgb(255, 0, 63) 54px 64px, rgb(255, 0, 38) 53px 65px, rgb(255, 0, 17) 52px 66px, rgb(255, 4, 0) 51px 67px, rgb(255, 29, 0) 50px 68px, rgb(255, 51, 0) 49px 69px, rgb(255, 76, 0) 48px 70px, rgb(255, 98, 0) 47px 71px, rgb(255, 119, 0) 46px 72px, rgb(255, 145, 0) 45px 73px, rgb(255, 166, 0) 43px 74px, rgb(255, 191, 0) 42px 75px, rgb(255, 213, 0) 41px 76px, rgb(255, 234, 0) 39px 77px, rgb(251, 255, 0) 38px 78px, rgb(230, 255, 0) 36px 79px, rgb(204, 255, 0) 35px 80px, rgb(183, 255, 0) 33px 81px, rgb(162, 255, 0) 32px 82px, rgb(136, 255, 0) 30px 83px, rgb(115, 255, 0) 28px 84px, rgb(89, 255, 0) 27px 85px, rgb(68, 255, 0) 25px 86px, rgb(46, 255, 0) 23px 87px, rgb(21, 255, 0) 22px 88px, rgb(0, 255, 0) 20px 89px, rgb(0, 255, 25) 18px 90px, rgb(0, 255, 46) 16px 91px, rgb(0, 255, 68) 14px 92px, rgb(0, 255, 93) 13px 93px, rgb(0, 255, 115) 11px 94px, rgb(0, 255, 140) 9px 95px, rgb(0, 255, 162) 7px 96px, rgb(0, 255, 183) 5px 97px, rgb(0, 255, 209) 3px 98px, rgb(0, 255, 230) 1px 99px, rgb(0, 255, 255) 7px 100px, rgb(0, 234, 255) -1px 101px, rgb(0, 213, 255) -3px 102px, rgb(0, 187, 255) -5px 103px, rgb(0, 166, 255) -7px 104px, rgb(0, 140, 255) -9px 105px, rgb(0, 119, 255) -11px 106px, rgb(0, 98, 255) -13px 107px, rgb(0, 72, 255) -14px 108px, rgb(0, 51, 255) -16px 109px, rgb(0, 25, 255) -18px 110px, rgb(0, 4, 255) -20px 111px, rgb(17, 0, 255) -22px 112px, rgb(42, 0, 255) -23px 113px, rgb(64, 0, 255) -25px 114px, rgb(89, 0, 255) -27px 115px, rgb(110, 0, 255) -28px 116px, rgb(132, 0, 255) -30px 117px, rgb(157, 0, 255) -32px 118px, rgb(179, 0, 255) -33px 119px, rgb(204, 0, 255) -35px 120px, rgb(226, 0, 255) -36px 121px, rgb(247, 0, 255) -38px 122px, rgb(255, 0, 238) -39px 123px, rgb(255, 0, 217) -41px 124px, rgb(255, 0, 191) -42px 125px, rgb(255, 0, 170) -43px 126px, rgb(255, 0, 149) -45px 127px, rgb(255, 0, 123) -46px 128px, rgb(255, 0, 102) -47px 129px, rgb(255, 0, 76) -48px 130px, rgb(255, 0, 55) -49px 131px, rgb(255, 0, 34) -50px 132px, rgb(255, 0, 8) -51px 133px, rgb(255, 12, 0) -52px 134px, rgb(255, 38, 0) -53px 135px, rgb(255, 59, 0) -54px 136px, rgb(255, 81, 0) -55px 137px, rgb(255, 106, 0) -55px 138px, rgb(255, 127, 0) -56px 139px, rgb(255, 153, 0) -57px 140px, rgb(255, 174, 0) -57px 141px, rgb(255, 196, 0) -58px 142px, rgb(255, 221, 0) -58px 143px, rgb(255, 243, 0) -58px 144px, rgb(243, 255, 0) -59px 145px, rgb(221, 255, 0) -59px 146px, rgb(200, 255, 0) -59px 147px, rgb(174, 255, 0) -59px 148px, rgb(153, 255, 0) -59px 149px, rgb(128, 255, 0) -60px 150px, rgb(106, 255, 0) -59px 151px, rgb(85, 255, 0) -59px 152px, rgb(59, 255, 0) -59px 153px, rgb(38, 255, 0) -59px 154px, rgb(12, 255, 0) -59px 155px, rgb(0, 255, 8) -58px 156px, rgb(0, 255, 29) -58px 157px, rgb(0, 255, 55) -58px 158px, rgb(0, 255, 76) -57px 159px, rgb(0, 255, 102) -57px 160px, rgb(0, 255, 123) -56px 161px, rgb(0, 255, 145) -55px 162px, rgb(0, 255, 170) -55px 163px, rgb(0, 255, 191) -54px 164px, rgb(0, 255, 217) -53px 165px, rgb(0, 255, 238) -52px 166px, rgb(0, 251, 255) -51px 167px, rgb(0, 226, 255) -50px 168px, rgb(0, 204, 255) -49px 169px, rgb(0, 179, 255) -48px 170px, rgb(0, 157, 255) -47px 171px, rgb(0, 136, 255) -46px 172px, rgb(0, 110, 255) -45px 173px, rgb(0, 89, 255) -43px 174px, rgb(0, 63, 255) -42px 175px, rgb(0, 42, 255) -41px 176px, rgb(0, 21, 255) -39px 177px, rgb(4, 0, 255) -38px 178px, rgb(25, 0, 255) -36px 179px, rgb(51, 0, 255) -35px 180px, rgb(72, 0, 255) -33px 181px, rgb(93, 0, 255) -32px 182px, rgb(119, 0, 255) -30px 183px, rgb(140, 0, 255) -28px 184px, rgb(166, 0, 255) -27px 185px, rgb(187, 0, 255) -25px 186px, rgb(209, 0, 255) -23px 187px, rgb(234, 0, 255) -22px 188px, rgb(255, 0, 255) -20px 189px, rgb(255, 0, 230) -18px 190px, rgb(255, 0, 209) -16px 191px, rgb(255, 0, 187) -14px 192px, rgb(255, 0, 162) -13px 193px, rgb(255, 0, 140) -11px 194px, rgb(255, 0, 115) -9px 195px, rgb(255, 0, 93) -7px 196px, rgb(255, 0, 72) -5px 197px, rgb(255, 0, 46) -3px 198px, rgb(255, 0, 25) -1px 199px, rgb(255, 0, 0) -1px 200px, rgb(255, 21, 0) 1px 201px, rgb(255, 42, 0) 3px 202px, rgb(255, 68, 0) 5px 203px, rgb(255, 89, 0) 7px 204px, rgb(255, 115, 0) 9px 205px, rgb(255, 136, 0) 11px 206px, rgb(255, 157, 0) 13px 207px, rgb(255, 183, 0) 14px 208px, rgb(255, 204, 0) 16px 209px, rgb(255, 230, 0) 18px 210px, rgb(255, 251, 0) 20px 211px, rgb(238, 255, 0) 22px 212px, rgb(213, 255, 0) 23px 213px, rgb(191, 255, 0) 25px 214px, rgb(166, 255, 0) 27px 215px, rgb(145, 255, 0) 28px 216px, rgb(123, 255, 0) 30px 217px, rgb(98, 255, 0) 32px 218px, rgb(76, 255, 0) 33px 219px, rgb(51, 255, 0) 35px 220px, rgb(29, 255, 0) 36px 221px, rgb(8, 255, 0) 38px 222px, rgb(0, 255, 17) 39px 223px, rgb(0, 255, 38) 41px 224px, rgb(0, 255, 64) 42px 225px, rgb(0, 255, 85) 43px 226px, rgb(0, 255, 106) 45px 227px, rgb(0, 255, 132) 46px 228px, rgb(0, 255, 153) 47px 229px, rgb(0, 255, 179) 48px 230px, rgb(0, 255, 200) 49px 231px, rgb(0, 255, 221) 50px 232px, rgb(0, 255, 247) 51px 233px, rgb(0, 243, 255) 52px 234px, rgb(0, 217, 255) 53px 235px, rgb(0, 196, 255) 54px 236px, rgb(0, 174, 255) 55px 237px, rgb(0, 149, 255) 55px 238px, rgb(0, 127, 255) 56px 239px, rgb(0, 102, 255) 57px 240px, rgb(0, 81, 255) 57px 241px, rgb(0, 59, 255) 58px 242px, rgb(0, 34, 255) 58px 243px, rgb(0, 12, 255) 58px 244px, rgb(12, 0, 255) 59px 245px, rgb(34, 0, 255) 59px 246px, rgb(55, 0, 255) 59px 247px, rgb(81, 0, 255) 59px 248px, rgb(102, 0, 255) 59px 249px, rgb(127, 0, 255) 60px 250px, rgb(149, 0, 255) 59px 251px, rgb(170, 0, 255) 59px 252px, rgb(196, 0, 255) 59px 253px, rgb(217, 0, 255) 59px 254px, rgb(243, 0, 255) 59px 255px, rgb(255, 0, 247) 58px 256px, rgb(255, 0, 226) 58px 257px, rgb(255, 0, 200) 58px 258px, rgb(255, 0, 179) 57px 259px, rgb(255, 0, 153) 57px 260px, rgb(255, 0, 132) 56px 261px, rgb(255, 0, 110) 55px 262px, rgb(255, 0, 85) 55px 263px, rgb(255, 0, 63) 54px 264px, rgb(255, 0, 38) 53px 265px, rgb(255, 0, 17) 52px 266px, rgb(255, 4, 0) 51px 267px, rgb(255, 29, 0) 50px 268px, rgb(255, 51, 0) 49px 269px, rgb(255, 76, 0) 48px 270px, rgb(255, 98, 0) 47px 271px, rgb(255, 119, 0) 46px 272px, rgb(255, 145, 0) 45px 273px, rgb(255, 166, 0) 43px 274px, rgb(255, 191, 0) 42px 275px, rgb(255, 213, 0) 41px 276px, rgb(255, 234, 0) 39px 277px, rgb(251, 255, 0) 38px 278px, rgb(230, 255, 0) 36px 279px, rgb(204, 255, 0) 35px 280px, rgb(183, 255, 0) 33px 281px, rgb(162, 255, 0) 32px 282px, rgb(136, 255, 0) 30px 283px, rgb(115, 255, 0) 28px 284px, rgb(89, 255, 0) 27px 285px, rgb(68, 255, 0) 25px 286px, rgb(46, 255, 0) 23px 287px, rgb(21, 255, 0) 22px 288px, rgb(0, 255, 0) 20px 289px, rgb(0, 255, 25) 18px 290px, rgb(0, 255, 46) 16px 291px, rgb(0, 255, 68) 14px 292px, rgb(0, 255, 93) 13px 293px, rgb(0, 255, 115) 11px 294px, rgb(0, 255, 140) 9px 295px, rgb(0, 255, 162) 7px 296px, rgb(0, 255, 183) 5px 297px, rgb(0, 255, 209) 3px 298px, rgb(0, 255, 230) 1px 299px, rgb(0, 255, 255) 2px 300px, rgb(0, 234, 255) -1px 301px, rgb(0, 213, 255) -3px 302px, rgb(0, 187, 255) -5px 303px, rgb(0, 166, 255) -7px 304px, rgb(0, 140, 255) -9px 305px, rgb(0, 119, 255) -11px 306px, rgb(0, 98, 255) -13px 307px, rgb(0, 72, 255) -14px 308px, rgb(0, 51, 255) -16px 309px, rgb(0, 25, 255) -18px 310px, rgb(0, 4, 255) -20px 311px, rgb(17, 0, 255) -22px 312px, rgb(42, 0, 255) -23px 313px, rgb(64, 0, 255) -25px 314px, rgb(89, 0, 255) -27px 315px, rgb(110, 0, 255) -28px 316px, rgb(132, 0, 255) -30px 317px, rgb(157, 0, 255) -32px 318px, rgb(179, 0, 255) -33px 319px, rgb(204, 0, 255) -35px 320px, rgb(226, 0, 255) -36px 321px, rgb(247, 0, 255) -38px 322px, rgb(255, 0, 238) -39px 323px, rgb(255, 0, 217) -41px 324px, rgb(255, 0, 191) -42px 325px, rgb(255, 0, 170) -43px 326px, rgb(255, 0, 149) -45px 327px, rgb(255, 0, 123) -46px 328px, rgb(255, 0, 102) -47px 329px, rgb(255, 0, 76) -48px 330px, rgb(255, 0, 55) -49px 331px, rgb(255, 0, 34) -50px 332px, rgb(255, 0, 8) -51px 333px, rgb(255, 12, 0) -52px 334px, rgb(255, 38, 0) -53px 335px, rgb(255, 59, 0) -54px 336px, rgb(255, 81, 0) -55px 337px, rgb(255, 106, 0) -55px 338px, rgb(255, 127, 0) -56px 339px, rgb(255, 153, 0) -57px 340px, rgb(255, 174, 0) -57px 341px, rgb(255, 196, 0) -58px 342px, rgb(255, 221, 0) -58px 343px, rgb(255, 243, 0) -58px 344px, rgb(243, 255, 0) -59px 345px, rgb(221, 255, 0) -59px 346px, rgb(200, 255, 0) -59px 347px, rgb(174, 255, 0) -59px 348px, rgb(153, 255, 0) -59px 349px, rgb(128, 255, 0) -60px 350px, rgb(106, 255, 0) -59px 351px, rgb(85, 255, 0) -59px 352px, rgb(59, 255, 0) -59px 353px, rgb(38, 255, 0) -59px 354px, rgb(12, 255, 0) -59px 355px, rgb(0, 255, 8) -58px 356px, rgb(0, 255, 29) -58px 357px, rgb(0, 255, 55) -58px 358px, rgb(0, 255, 76) -57px 359px, rgb(0, 255, 102) -57px 360px, rgb(0, 255, 123) -56px 361px, rgb(0, 255, 145) -55px 362px, rgb(0, 255, 170) -55px 363px, rgb(0, 255, 191) -54px 364px, rgb(0, 255, 217) -53px 365px, rgb(0, 255, 238) -52px 366px, rgb(0, 251, 255) -51px 367px, rgb(0, 226, 255) -50px 368px, rgb(0, 204, 255) -49px 369px, rgb(0, 179, 255) -48px 370px, rgb(0, 157, 255) -47px 371px, rgb(0, 136, 255) -46px 372px, rgb(0, 110, 255) -45px 373px, rgb(0, 89, 255) -43px 374px, rgb(0, 63, 255) -42px 375px, rgb(0, 42, 255) -41px 376px, rgb(0, 21, 255) -39px 377px, rgb(4, 0, 255) -38px 378px, rgb(25, 0, 255) -36px 379px, rgb(51, 0, 255) -35px 380px, rgb(72, 0, 255) -33px 381px, rgb(93, 0, 255) -32px 382px, rgb(119, 0, 255) -30px 383px, rgb(140, 0, 255) -28px 384px, rgb(166, 0, 255) -27px 385px, rgb(187, 0, 255) -25px 386px, rgb(209, 0, 255) -23px 387px, rgb(234, 0, 255) -22px 388px, rgb(255, 0, 255) -20px 389px, rgb(255, 0, 230) -18px 390px, rgb(255, 0, 209) -16px 391px, rgb(255, 0, 187) -14px 392px, rgb(255, 0, 162) -13px 393px, rgb(255, 0, 140) -11px 394px, rgb(255, 0, 115) -9px 395px, rgb(255, 0, 93) -7px 396px, rgb(255, 0, 72) -5px 397px, rgb(255, 0, 46) -3px 398px, rgb(255, 0, 25) -1px 399px;
}